{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        {% for dream in dreams %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata pb-1 mb-1">
                    <span class="h6">Date: </span>
                    <small class="text-muted">{{ dream.dream_date.strftime('%Y-%m-%d') }}</small>
                </div>
                <div class="article-metadata pb-1 mb-1">
                    <span class="h6">Dream: </span>
                    <a class="article-title" href="{{ url_for('view_dream', dream_id=dream.id) }}"> {{dream.title }}</a>
                </div>
                <div class="article-footer pb-1 mb-1">
                    <span class="h6">Symbols: </span>
                    {% for symbol,desc in get_symbols(dream.title).items() %}

                    <div class="m-2">
                        <span class="font-weight-bold">{{ symbol }}:</span> <span class="font-weight-light">{{desc}}</span>
                    </div>
                    {% else %}
                        <mark class="badge mr-1 p-1">No Symbols Found</mark>
                    {% endfor %}
                </div>
            </div>
        </article>
        {% endfor %}
    </div>

    <div class="col-md-4">
        <div class="content-section">
            <div id="chartContainer" style="height: 250px; width: 100%;"></div>
            <div class="mt-5">
                <p class='badge text-muted'>Message for user Here!</p>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function() {

    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: false,
        title: {
            text: "You Dreams Log Record Since- 2019-07-01"
        },
        data: [{
            type: "pie",
            startAngle: 240,
            yValueFormatString: "##0.00",
    <!--		yValueFormatString: "##0.00\"%\"",-->
            indexLabel: "{label} {y} Days",
            dataPoints: [
                {y: {{dream_recorded}}, label: "Recorded", color: "#329E0B"},
                {y: {{dream_not_recorded}}, label: "Not Recorded", color:"#bf3105"}]
    <!--			{y: {{100*dream_recorded/(dream_recorded+dream_not_recorded)}}, label: "Recorded"},-->
    <!--			{y: {{100*dream_not_recorded/(dream_recorded+dream_not_recorded)}}, label: "Not Recorded"}]-->
        }]
    });
    chart.render();

    }


</script>

{% endblock content %}
